.footer-section {
    background: var(--color-banner);
    height: 100%;
    position: relative;
    padding: 80px 0;
    color: var(--color-text-light);
}

.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 48px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.footer-link {
    color: var(--color-text-light);
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.socials img {
    width: 48px;
    height: 48px;
}

.terms {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding-top: 32px;
}


@media screen and (min-width: 768px) {
    .footer-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }

    .copyright-terms {
        display: flex;
        flex-direction: row;
       justify-content: space-between;
    }

    .terms {
        padding-top: 0px;
    }


}
