.display-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0px 0px;
}

.display-content {
   display: flex;
   flex-direction: column;
   gap: 24px;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.display-heading {
    font-size: 52px;
    line-height: 64px;
    padding: 8px 0px;
    color: var(--color-text-dark);
} 

.display-subtitle {
    padding-bottom: 24px;
    color: var(--color-text-dark-grey);
}

.display-illus {
    height: 100%;
}

.display-bitmaps {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 120px;
}


@media screen and (min-width: 768px) {
    .display-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 48px;
    }
    .display-bitmaps {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .display-content {
        gap: 120px;
    }
}
